body, html, #root, #app {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

canvas {
  cursor: pointer;
  border: 3px solid black;
}

p {
  font-size: 12px;
  text-align: left
}

h3 {
  font-family: 'Press Start 2P', cursive;
  text-align: left
}

.arrange-horizontally > * {
  display: inline-block;
  text-align: center;
}

button {
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  padding: 2px;
  box-shadow: 2px 1px 2px gray;
  margin: 4px 10px 4px 10px;
}

input[type="title"] {
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  cursor: text;
  padding: 20px;
  box-shadow: 2px 1px 2px gray;
  margin: 4px 10px 4px 10px;
}

input[type="text"] {
  font-family: 'Press Start 2P', cursive;
  cursor: text;
  padding: 4px;
  box-shadow: 2px 1px 2px gray;
  margin: 4px 10px 4px 10px;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  cursor: text;
  padding: 4px;
  box-shadow: 2px 1px 2px gray;
  margin: 4px 10px 4px 10px;
}

input[type='submit'] {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  padding: 4px;
  box-shadow: 2px 1px 2px gray;
  margin: 4px 10px 4px 10px;
}

input[type="password"] {
  font-family: 'Press Start 2P', cursive;
  cursor: text;
  padding: 4px;
  box-shadow: 2px 1px 2px gray;
  margin: 4px 10px 4px 10px;
}

#parentDiv {
  /* position: relative; */
}

#childForm {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-button {
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  padding: 6px;
}

.big-button:hover {
  transform: scale(1.05);
  box-shadow: 2px 5px 3px black;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 2px black;
}

.thumbnail:hover {
  transform: scale(1.03);
  /* box-shadow: 1px 1px 2px black; */
}

.delete-button {
  margin-right: 100px;
  margin-bottom: 10px;
}
.edit-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.FilmCards {
  padding: 16px;
  background-color: rgba(62, 252, 188, 0.603);
}
.FilmCard {
  padding: 8px;
  border: 3px solid black;
  margin: 3px
  
}
.thumbnail {padding-right: 20px;}
